extras/loinc/loinc.csv
extras/loinc/map_to.csv
extras/loinc/source_organization.csv
extras/loinc/Oracle/*
extras/loinc/MySql/*
extras/google/*
!extras/google/concept
extras/google/export/*
extras/loinc/LOINC_2.61_Text.zip
omop/athena/*
etl/Result/

# OSX .DS_Store file
.DS_Store
