extras/loinc/loinc.csv
extras/loinc/map_to.csv
extras/loinc/source_organization.csv
extras/loinc/Oracle/*
extras/loinc/MySql/*
extras/private/*
extras/loinc/LOINC_2.61_Text.zip
omop/athena/*
etl/Result/
etl.log
mimic-omop.tar
mimiciii-omop.tar
mimic-omop.cfg

# OSX .DS_Store file
.DS_Store
