div.chartcontainer {
	line-height: 0px;
}
/* Legend Styles */

.legend {
	padding: 5px;
	font: 10px arial;
}
/* general bar styles */

.area {
	fill: rgb(68, 68, 136);
}
.bar {
	fill: #1f77b4;
}
/* Barchart styles */

.barlabel {
	font-family: arial;
	font-size: 8px;
}
/* Boxplot styles */

.boxplot {
	font: 10px arial;
}
.boxplot .median {
	stroke: #1f77b4;
}
.boxplot line {
	stroke: #1f77b4;
	stroke-width: 1px;
}
.boxplot rect,
.boxplot circle {
	fill: rgba(31, 119, 180, 0.2);
	stroke: #1f77b4;
	stroke-width: 1px;
}
.boxplot .whisker {
	stroke-dasharray: 3, 3;
	stroke: #1f77b4;
}
.boxplot .outlier {
	fill: none;
	stroke: #1f77b4;
}

table.boxplotValues tr td
{
	text-align: right;
	padding: 0px 3px;
}

.lineplot .line {
	fill: none;
	stroke: #1f77b4;
	stroke-width: 1px;
}
.g-trellis .x-guide path.domain,
.g-trellis .y-guide path.domain {
	fill: none;
}
.g-trellis .x-guide .tick line {
	stroke: #ccc;
	stroke-width: .6;
}
.g-trellis .y-guide .tick line {
	stroke: #ccc;
	stroke-width: .6;
}
.axis path,
.axis line {
	fill: none;
	stroke: black;
}
.axis text {
	font-family: arial;
	font-size: 8px;
}
.axislabel {
	font-family: arial;
	font-weight: bold;
}
table.data td:first-child {
	text-align: right;
}
table.data td {
	padding-left: 3px;
	padding-right: 3px;
	white-space: nowrap;
}
.g-overlay {
	fill: none;
	pointer-events: all;
}
.g-label-value,
.g-label-year {
	font-size: 10px;
}
.trellisLegend {
	font-size: 10px;
	font-family: arial;
}
.grouper {
	fill: none;
	stroke: white;
	stroke-width: 2px;
	display: none;
}
#treemap_container svg {
	shape-rendering: 'crispEdges';
}
.treemap_legend {
	font-size: 10px;
}

.focus
{
	opacity: 0;
}